@font-face {
   font-family: 'Bellefair';
   font-display: swap;
   src: url('file:///C:/Users/User/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-12-31_150706/fonts/Bellefair/font.zip');
}
